body {
  margin: 0;
  background: #EFEFEF;
}
a{
  text-decoration: none;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.09;
}




/* header */

header {
  padding: 0;
  height: 30vh;
  position: relative;
  display: flex;
  margin: auto;
  background: rgba(191, 191, 191, 0.3);
}

.logo {
  flex: 1;
  position: relative;
  margin-left: 1rem;
}

.logo img {
  width: 70%;
  position: absolute;
  top: 0;
}

.title {
  flex: 2;
  padding-top: 5rem;
  color: #753188;
  font-size: 1.3rem;
  text-align: center;
}

.nav {
  flex: 1;
  position: relative;
}

.nav ul {
  position: absolute;
  right: 2rem;
  top: 2.6rem;
}

.nav ul li {
  list-style: none;
  font-size: 1.rem;
  padding: 2px 3px;
}

.nav ul li a {
  text-decoration: none;
  color: #2C272E;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 4px;
  transition: 0.5s;
}

.nav ul li a:hover {
  color: #e30505;
}



/* address */
.box-1 {
  width: 50%;
  position: relative;
  background: rgba(191, 191, 191, 0.5);
  padding: 0 10%;
  margin-bottom: 10rem;
}

.box-1 ul li {
  list-style: none;
}

.box-1 ul li a {
  text-decoration: none;
}

.box-1 .ul span {
  margin-left: 10px;
}

.box-1 .ul li {
  margin-bottom: .5rem;
}


/* main section*/

main{
  width: 100%;
  margin-top: .5rem;
  font-family: 'Source Sans Pro', Lora, sans-serif;
  font-weight: 600;
}
strong{
  font-size: 1.2rem;
}
.box-2{
  margin-bottom: 7rem;
  line-height: 2;
}
.box-3{
  margin-bottom: 7rem;
}
.bundle-woman{
  position: relative;
background: rgba(183, 193, 172, 0.2);
  display: flex;
  justify-content: center;align-items: center;
  padding: 2rem 0;
}
.bundle-woman img{
  width: 70%;
  border-radius: 6px;
}

.bundle-woman-text{
  padding-top: 3rem;
  background: rgba(183, 193, 172, 0.2);
}
.bundle-woman-text p {
  line-height: 2;
}

.box-4{
  line-height: 2;
  margin-top: 1rem;
}
.box-5{
  margin-top: 3rem;
}
.box-6 .object, .box-6 .means{
  margin-top: 5rem;
  line-height: 2;
}

.object-box{
  background: rgba(241, 130, 141, 0.05);
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  border-radius: 6px;
  transition: 0.4s;
}
.object-box:hover{
  border: .5px solid rgba(128,128,128,0.3);
}
.means-box{
  padding-top: 1.5rem;
  background: rgba(241, 130, 141, 0.05);
  border-radius: 6px;
  transition: 0.4s;
}
.means-box:hover{
  border: .5px solid rgba(128,128,128,0.3);
}
.object-icon{
  width: 30%;
  margin-bottom: 3rem;
}
.box-7 {
  margin-top: 7rem;
}
.box-7 p {
  line-height: 2;
  font-weight: 600;
}
.box-7 a {
  text-decoration: none;
  color: green;
  transition: 0.3s ease;
}

.box-7 a:hover {
  color: #e30505;
}

/* footer section */
.footer{
  margin-top: 5rem;
  background: rgba(191, 191, 191, 0.3);
  padding-top: 2rem;
}
#footer img {
  width: 3%;
}


.box-8{
  margin: auto;
}
#footer li {
  list-style: none;
}
.li-margin li{
  margin-bottom: .5rem;
}

/* media query small screens */
@media (max-width:500px) and (orientation:portrait){
  body {
    padding: 0 5px;
  }
  .box-1{
    width: 100%;
    padding: 0;
  }

  .bg{
    right:10px;
    top: 6rem;
  }
  .logo{
    margin-left: .5rem;
    margin-top: 1rem;
  }
  .logo img {
    width: 120%;
  }
  .title{
    padding-top: 6.5rem;
  }
  .nav ul {
      right: 1rem;
    }

    .box-2{
      margin-bottom: 4rem;
      line-height: 2;
    }

    .box-3{
      margin-bottom: 4rem;
    }
    .object-box{

    }
}

@media (max-height:500px) and (orientation:landscape){

  .title{
    padding-top: 2rem;
  }
}


@media (min-width:501px) and (max-width: 880px) and (orientation:portrait){
  .box-1{
    width: 80%;
    padding: 0;
  }

  .bg{
    right:10px;
    top: 6rem;
  }
  .logo{
    margin-left: .5rem;
    margin-top: 1rem;
  }
  .logo img {
    width: 120%;
  }
  .title{
    padding-top: 14rem;
  }
  .nav ul {
      right: 1rem;
    }

    .box-2{
      margin-bottom: 4rem;
      line-height: 2;
    }

    .box-3{
      margin-bottom: 4rem;
    }
}

/* mediq query medium screens */
@media (min-width:881px) and (max-width:1199px) and (orientation:portrait){
  .box-1{
    width: 80%;
    padding: 0;
  }
  .logo{
    margin-left: .5rem;
    margin-top: 1rem;
  }
  .logo img {
    width: 120%;
  }
  .title{
    padding-top: 17rem;
  }
  .title h2{
    font-size: 2.1rem;
  }
  .nav ul {
      right: 1rem;
    }
    .nav ul li a{
      font-size: 1.5rem;
    }
    main{
      font-size: 1.7rem;
    }
}
@media (min-height:881px) and (max-height:1199px) and (orientation:landscape){
  main{
    font-size: 1.7rem;
  }
}
